*{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}
html{
    font-size: 62.5%;
}
nav{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
footer{
    position: relative;
}
main{
    padding:2%;
}

figure{
    margin: 0 auto !important;
}
h4{
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}
.brand, .brand:hover{
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 0.05rem black;
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.right-image{
    color: transparent;
    border-radius: 1rem;
    border: 0.3rem solid black;
    width: 70%;
    height: auto;
    max-width: 400px;
}
.right-image__link{
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}
.right-image__link:hover{
    filter: blur(1.3rem);
}
.left-image{
    color: transparent;
    border-radius: 1rem;
    border: 0.3rem solid black;
    width: 70%;
    height: auto;
    max-width: 400px;
}
.left-image__link{
    width: 80%;
    height: auto;
    padding-left: 20%;
    padding-top: 1%;
    padding-bottom: 5%;
}
.left-image__link:hover{
    filter: blur(1.3rem);

}