html{
    background-color: #FFFFFF;
}
nav{
    padding: 50px;
}
.navbar-logo_text, .navbar-logo_text:hover{
    color: black;
    font-family: 'Roboto',sans-serif;
    font-style: regular;
    text-decoration: none;
    position: absolute;
    font-size: 50px;
    -webkit-text-stroke: 1px black;
    color: transparent; 
}
.navbar-list__item{
    display: inline;
    list-style: none;
}
.navbar-list__item__contact{
    position: absolute;
    width: 80px;
    height: 30px;
    left: 1490px;
    font-family: 'Roboto', sans-serif;
    font-style: regular;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.navbar-list__item__languages{
    position: absolute;
    width: 224px;
    height: 30px;
    left: 1700px;
    font-family: 'Roboto', sans-serif;
    font-style: regular;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.navbar-list__item__about{
    position: absolute;
    width: 110px;
    height: 30px;
    left: 1580px;
    font-family: 'Roboto',sans-serif;
    font-style: regular;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

h1{
    font-family: 'Roboto',sans-serif;
    font-style: bold;
    font-size: 65px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.students{
    position: absolute;
    width: 517px;
    height: 39px;
    left: 1018px;
    top: 623px;
}
.covid{
    position: absolute;
    width: 384px;
    height: 115px;
    left: 390px;
    top: 587px;   
}
bg{
    position: absolute;
    width: 1920px;
    height: 270px;
    left: 0px;
    top: 810px;
    background-color: #1e1e1e;
}
.footer-list{
    text-decoration: none;
}
.footer-list__item{
    color: white;
    list-style: none;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
}
.footer-list__item__about{
    text-decoration: none;
    color: white;
    position: absolute;
    width: 300px;
    height: 28px;
    margin:  500px 500px 280px 700px;
    text-align: center;
}
.footer-list__item__contact{
    text-decoration: none;
    color: white;
    position: absolute;
    width: 300px;
    height: 25px;;
    margin: 500px 500px 350px 700px;
    text-align: center;     
}
.copyright{
    position: absolute;
    width: 300px;
    height: 28px;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    color: #FFFFFF;
    margin: 120px 720px;
    text-align: center;
}
.connect{
    position: absolute;
    width: 300px;
    height: 28px;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    color: white;
    margin: 150px 725px;
    text-align: center;
}
.footer-logo{
    position: absolute;
   margin: 10px 850px;
   text-align: center;
}

.left-box{
    position: absolute;
    width: 414px;
    height: 405px;
    left: 370px;
    top: 123px; 
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 3px solid #1e1e1e;   
    }
.right-box{
    position: absolute;
    width: 414px;
    height: 405px;
    left: 1020px;
    top: 123px; 
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 3px solid #1e1e1e;   
    }

.map-image{
    position: absolute;
    width: 280px;
    height: 374px;
    right: 50px;
    top: 10px;
}
.students-image{
    width: 408px;
    height: 400px;
    left: 1076px;
    top: 141px;
    border-radius: 17px;
}