*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
nav{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
footer{
    position: relative;
}
.attendance{
    padding-left: 90px;
}
.covid{
    padding-left: 10px;
}
.right-image__link{
    border-radius: 5px;
}
.right-image{
    color: transparent;
    border-radius: 10px;
    border: 3px solid black;
    width: 423px;
    height: 413px;
}
.left-image__link{
    position: relative;
    padding-left: 75px;
    padding-top: 15px;
}
.left-image{
    position: relative;
    color: transparent;
    border-radius: 10px;
    border: 3px solid black;
    width: 423px;
    height: 413px;
}

.main-info{
    position: relative;
    padding-top: 50px;
    padding-left: 445px;
}

.pt-4__link__github{
    position: relative;
    width: 10px;
    height: 20px;
    bottom: 15px;    
}