*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
nav{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
footer{
    position: relative;
    margin-top: 500px;
}
.pt-4__link__github{
    position: relative;
    width: 10px;
    height: 20px;
    bottom: 15px;    
}
.lang{
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
.lang-text{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: justify;
}